* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$days-amount: 31;
$color-back: #eee;
$font-base: Arial, sans-serif;
$paddings: 10px;
$day-size: 100px;
$font-size: 30px;
$gap: 1px;
$border: 1px solid black;
$columns: 7;
$calendar-width: ($day-size * $columns) + ($gap * $columns - 1 + 2 * $paddings);

.calendar {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  align-items: center;
  width: $calendar-width;
  margin: auto;
  padding: 10px;
  background-color: white;

  @each $name, $columns in $days {
    &--start-day-#{$name} {
      .calendar__day:first-child {
        margin-left: $columns * ($day-size + $gap);
      }
    }
  }
  &__day {
    width: $day-size;
    height: $day-size;
    background-color: $color-back;
    border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    font-size: $font-size;
    position: relative;
    transition:
      transform 0.5s,
      background-color 0.5s;
    &::before {
      font-size: $font-size;
    }

    @for $i from 1 through $days-amount {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }
  }

  @for $i from 28 through 31 {
    &--month-length-#{$i} {
      .calendar__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
